
/* iPads and tablets -portrait */

@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
    position: absolute;
    right: 15px;
    top: 50px;
    outline: none;
    background: transparent;
    border: none;
    font-size: 20px;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
  }
}