header {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a, 
nav ul li { margin-left: 1rem; }


nav {
  display: flex;
  align-items: center;
}

nav :nth-last-child(2) {
  margin-left: auto;
  
}

nav img {
  max-height: 50px;
}

nav ul {
  display: flex;
}

nav .btn.btn-blue { margin-left: 1rem; }

header .header-left a, 
header .header-right a {
  color: var(--font-color-base);
  font-size: var(--size-14);
}

 nav ul li a:hover { color: var(--font-color-link); }