.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  background: transparent;
  padding-bottom: var(--size-40);
  width: 100%;
  z-index: 1111;
  transition: ease-in-out 0.3s; 
}

.topper {
  display: flex;
  justify-content: space-between;
}

.navbar-wrapper {
  display: flex;
  align-items: center
}

.navbar ul li { margin-left: 1rem; }

.navbar img {
  max-height: var(--size-50);
}

.navbar ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navbar.sticky {
  box-shadow: 0rem 0rem 1.25rem rgb(48 69 100 / 20%);
  background: var(--white);
}

.navbar.sticky .navbar-toggler i, 
.navbar.sticky .navbar-list a, 
.navbar.sticky .header-left a, 
.navbar.sticky .header-right a {
  color: var(--white);
}

[aria-controls="navbarDropdown"] {
  display: none;
}

 .navbar ul li a:hover { color: var(--font-color-link); }

 /* empowering teams section */
 /* empowering teams section */
 /* empowering teams section */
 /* empowering teams section */
 /* empowering teams section */

.teams {
  overflow: hidden;
  padding: 9.375rem 1rem 9.375rem 1rem;
  height: auto;
  background-image: 
  linear-gradient(-190deg, rgba(69, 69, 69, 0.2) 60%, rgba(255, 245, 245, 1) 73%);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -2.5rem 0.313rem -2.5rem royalblue;
}

.teams h1 {
  font-size: var(--size-50);
  margin-bottom: 0;
  line-height: 1.1;
}

.teams p {
  font-size: var(--size-20);
  margin-top: 0;
}

/* using vh instead of pixels */
.teams > div { height: 50vh; } 
/* .teams > div { height: 420px; } */

.teams .--learn-more {
  color: var(--font-color-link);
  padding-left: var(--size-50);
}

.relative { 
  position: relative;
}

.teams__wrapper {
  padding: var(--size-18);
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 0.625rem grey;
 }

.--small-img {
  max-width: var(--size-20);
  object-fit: contain;
  border-radius: 50%;
  background: var(--white);
}

.--large-img {
  max-width: 1.563rem;
  object-fit: contain;
  background: var(--white);
}
/* below sets the absolute position for the icons */
.google {
  position: absolute;
  top: 2%;
  left: 2%;
}
.atlassian {
  position: absolute;
  top: 14%;
  left: 33%;
}

.asana {
  position: absolute;
  top: 5%;
  right: 5%;
}

.paypal {
  position: absolute;
  left: 2%;
  bottom: 25%;
}

.google-ads {
  position: absolute;
  left: 24%;
  bottom: 12%;
}

.weave {
  position: absolute;
  bottom: 25%;
  left: 50%;
}

.calendar {
  position: absolute;
  right: 2%;
  bottom: 2%;
}

/* below is the animation group */
/* multiple groups used to offset the animations slightly to offer variety to the effect */


.teams__wrapper.google, 
.teams__wrapper.google-ads {
  animation: bounce-1 4s ease-in-out ;
  animation-fill-mode: forwards ;
  animation-iteration-count: 1;  
}

@keyframes bounce-1 {
  0%, 40%, 60%, 80% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-7%);
  }

  70% {
    transform: translateY(-2%);
  }
/* 80% to 100% set to 0 is acting as the loop delay since infinite iteration */
  100% {
    transform: translateY(0);
  }
}

.teams__wrapper.asana, 
.teams__wrapper.paypal {
  animation: bounce-2 4.2s ease-in-out ;
  animation-fill-mode: forwards ;
  animation-iteration-count: 1;
  
}

@keyframes bounce-2 {
  0%, 40%, 60%, 80% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-36%);
  }

  50% {
    transform: translateY(-7%);
  }

  70% {
    transform: translateY(-2%);
  }
/* 80% to 100% set to 0 is acting as the loop delay since infinite iteration */
  100% {
    transform: translateY(0);
  }
}

.teams__wrapper.atlassian, 
.teams__wrapper.calendar {
  animation: bounce-3 3.8s ease-in ;
  animation-fill-mode: forwards ;
  animation-iteration-count: 1;
  
}

@keyframes bounce-3 {
  0%, 40%, 60%, 80% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-28%);
  }

  50% {
    transform: translateY(-6%);
  }

  70% {
    transform: translateY(-1%);
  }
/* 80% to 100% set to 0 is acting as the loop delay since infinite iteration */
  100% {
    transform: translateY(0);
  }
}

.teams__wrapper.weave {
  animation: bounce-4 5s ease-in-out ;
  animation-fill-mode: forwards ;
  animation-iteration-count: 1;
  
}

@keyframes bounce-4 {
  0%, 40%, 60%, 80% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-36%);
  }

  50% {
    transform: translateY(-15%);
  }

  70% {
    transform: translateY(-5%);
  }
/* 80% to 100% set to 0 is acting as the loop delay since infinite iteration */
  100% {
    transform: translateY(0);
  }
}

/* Key Benefits section */
/* Key Benefits section */
/* Key Benefits section */
/* Key Benefits section */
/* Key Benefits section */


.key-benefits {
  text-align: center;
}

.key-benefits__grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); */
  padding: var(--size-16);
}

.key-benefits__card {
  max-width: 100%;
  box-shadow: 0px 0px 0.438rem grey;
  padding: var(--size16);
  margin-bottom: var(--size-20);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.key-benefits__card:hover {
  
  box-shadow: inset 0px -0.313rem 0.063rem skyblue, 0px 0px 1.313rem grey;
}

.key-benefits__card img {
  width: var(--size-50);
}

.key-benefits__card h4 {
  font-size: var(--size-20);
  margin-bottom: 0;
  margin-top: 0;
}

.key-benefits__card p {
  text-align: initial;
  color: rgba(200, 200, 200, 0.9);
}

.key-benefits__card a {
  color: var(--font-color-link);

}

.key-benefits__card span { 
  float: right;
  
}

.green {
  background: green;
  border-radius: 999px;
  width: 4.688rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--white); 
}



/* software for people */
/* software for people */
/* software for people */
/* software for people */
/* software for people */

.software-for-people {
  background: linear-gradient(269deg, lightsteelblue, transparent); ;
  padding-bottom: var(--size-100);
}

.sfp__get-started {
  text-align: center;
  margin-bottom: 0;
}


/* why font */
/* why font */
/* why font */
/* why font */
/* why font */

.why-front {
  background: linear-gradient(220deg, lightgrey, transparent);
  padding-bottom: var(--size-100);
}

.elements {
  display: flex;
  text-align: center;
}
.elements dot-wrapper {
  flex: 1;
}

.elements h4 {
  flex: 2;
}

.vertical-dash {
  width: 0.063rem;
  height: var(--size-50);
  background-color: dodgerblue;
  margin: 0.313rem 0rem 0.313rem 1.625rem;
}

.horizontal-dash {
  display: none;
  height: 0.125rem;
  width: auto;
  background-color: dodgerblue;
}

.wf__wrapper p {
  margin-top: 0;
  margin-bottom: var(--size-20);
  color: var(--font-color-dark);
}

.wf__wrapper h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: var(--size-40);
  margin-top: 0;
}

.dot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 0.063rem;
  width: 0.063rem;
  padding: 0.125rem;
  margin: 1.563rem;
  background-color: dodgerblue;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 0.063rem 1.563rem lightblue;
}

.dash {
  height: 0.125rem;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 0.063rem solid grey;
  margin-left: 0.313rem;
  margin-right: 0.313rem;
  
}

.items__wrapper {
  text-align: center;
}


/* executive director  christina kray */
/* executive director  christina kray */
/* executive director  christina kray */
/* executive director  christina kray */
/* executive director  christina kray */


.executive {
  margin-top: var(--size-50);
}

/* absolute method for dots and woman positioning */

.ex__wrapper-relative {
  position: relative;
  height: 26.25rem;
  overflow: hidden;
}

.ex__image-wrapper-dots {
  position: absolute;
  bottom: 0%;
  left: 0%;
  max-width: 40%;
  z-index: 1;
}

.ex__image-wrapper-woman {
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 90%;
  z-index: 10;
}


.ex__content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-50);
}

.ex__content-image-wrapper-logo {
  max-width: var(--size-100);
}

.ex__content-wrapper p {
  color: var(--font-color-dark);
  font-size: var(--size-20);
}

.ex__content-wrapper h4 {
  margin: 0;

}

.ex__content-wrapper h6 {
  margin: 0;
  color: var(--font-color-light);
}


/* worlds best */
/* worlds best */
/* worlds best */
/* worlds best */
/* worlds best */

.worlds-best {
  margin-top: var(--size-50);
  background:
  linear-gradient(0deg, rgba(0,0,0,0.15) 0%, rgba(255,255,255,1) 15%);
  padding-bottom: var(--size-50);
}

.worlds-best h3 {
  color: var(--font-color-light);
  text-align: center;
  font-size: var(--size-14);

}

.wb__flex-wrapper {
  display: flex;
  flex-direction: column;
  
}

.wb__image-wrapper {
  max-width: var(--size-100);
  margin-left: auto;
  margin-right: auto;
}


/* pricing pricing pricing */
/* pricing pricing pricing */
/* pricing pricing pricing */
/* pricing pricing pricing */
/* pricing pricing pricing */


.pricing {
  text-align: initial;
  background: rgba(10, 10, 10, 0.01);
}


.pricing h2 {
  font-size: var(--size-50);
  margin-bottom: 0;
  padding-top: var(--size-50);
  text-align: center;
  margin-top: 0;
}

.pricing h5 {
  color: var(--font-color-light);
  text-align: center;
  margin-top: 0;

}

.large {
  font-size: var(--size-50);
}

.small {
  font-size: 1.563rem;
}

.p__main-card-wrapper {
  box-shadow: 0rem 0rem 1.25rem 0.063rem lightgrey;
  padding: var(--size-10) var(--size-50);
  margin-bottom: var(--size-50);
  background: var(--white);
}

.p__main-card-wrapper h4 {
  color: var(--font-color-light);
}

.p__main-card-wrapper h6 {
  color: var(--font-color-light);
  margin-top: 0;
}

.p__grid-card img {
  max-width: var(--size-50);
}

.p__grid-card h3 {
  margin-bottom: 0;
}

.p__grid-card p {
  margin-top: 0;

}


/* Hire Us */
/* Hire Us */
/* Hire Us */
/* Hire Us */
/* Hire Us */

.hire-us {
  background: url("../SaaS/banners/12174.jpg") rgba(10, 10, 255, 0.9);
  object-fit: scale-down;
  background-blend-mode: color-burn;
  padding-bottom: var(--size-50);
}

.hu__content-wrapper {
  text-align: center;
}

.hu__content-wrapper p {
  color: #f9ffe3;
}

.hu__content-wrapper h2 {
  color: #f9ffe3;
  font-size: var(--size-50);
  margin: 0;
  
}

.hu__content-wrapper h4 {
  color: #f9ffe3;
  margin-bottom: 0;
}

.hu__content-wrapper h5 {
font-weight: 500;
color: var(--font-color-light);
margin-top: 0;

}

.hu__content-wrapper h6 {
  color: var(--font-color-light);
  margin-top: 0;

}

.hu__content-wrapper hr {
  color: var(--font-color-light);
}

.hu__content-wrapper p { 
  font-size: 1.563rem; 
}

.thumbnails img {
  max-width: var(--size-50);
  border-radius: 50%;
}

/* form bit */
/* form bit */
/* form bit */

.form-container {
  background: #f5fffa;
  border: none;
  border-radius: 0.75rem;
}

.form-container h2,
.form-container label {
  color: #4b3621;
  text-align: center;
}

.fc__input-wrapper,
.fc__select-option-wrapper,
.fc__textarea-wrapper {
  border: 1px solid dodgerblue;
  border-radius: 0.938rem;
  background: #f0f8ff;
  padding: 0.313rem;
  margin: 0.313rem 0;
}

.form-container input,
.form-container select,
.form-container textarea {
  border: none;
  background: transparent;
  color: var(--font-color-light);
}

.form-container textarea {
  box-sizing: border-box;
  width: 100%
}

.form-container ::placeholder {
  color: var(--font-color-light);
  
}

.fc__link-wrapper {
  padding: 1.563rem 0rem 3.125rem 0rem;
  text-align: center;
}
.fc__privacy-policy {
  border-bottom: 0.063rem dotted var(--font-color-dark);
}

.fc__btn-wide {
  padding: 0.313rem var(--size-100);
}

input#submit {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0.063rem solid transparent;

  border-radius: var(--size-18);
  transition: ease-in-out 0.3s;

  background-color: var(--font-color-link);
  color: var(--white);

  padding: 0.313rem var(--size-100);
}


/* footer */
/* footer */
/* footer */
/* footer */
/* footer */

.f__logo-wrapper img {
  width: var(--size-100);
  padding: 1.563rem 0;
}

.f__contact-info span {
  color: var(--font-color-light)
}

.footer a {
  color: var(--font-color-light);
}

.footer a:hover {
  color: var(--font-color-link);
  text-decoration: underline;
}


#scrollUp {
  background-image: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);
  background-color: transparent;
  color:rgba(0, 0, 0, 0.2)var(--white);
  height: var(--size-50);
  width: var(--size-50);;
  position: fixed;
  bottom: var(--size-30);       
  right: var(--size-30);
  text-align: center;
  border-radius: 8px;
  line-height: var(--size-50);
  z-index: 100;
}