header {
  /* margin-bottom: 1rem; */
  background: rgba(200, 200, 200, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  padding-bottom: 16px;
}

header .header-left a, 
header .header-right a {
  color: var(--font-color-base);
  font-size: var(--size-14);
}

header a { margin-left: 1rem; }


nav {
  
  display: flex;
  align-items: center;
  background: transparent;
  padding-bottom: 40px;
}

nav ul li { margin-left: 1rem; }

nav img {
  max-height: 50px;
}

nav ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


[aria-controls="navbarDropdown"] {
  display: none;
}

 nav ul li a:hover { color: var(--font-color-link); }

 /* empowering teams section */
 /* empowering teams section */

.teams {
  overflow: hidden;
  padding: 150px 16px 150px 16px;

  height: 120vh;
  background-image: 
  linear-gradient(-190deg, rgba(255, 165, 0, 0.9) 60%, rgba(255, 245, 245, 1) 73%);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -40px 5px -40px royalblue;
}

.teams h1 {
  font-size: 50px;
  margin-bottom: 0;
  line-height: 1.1;
}

.teams p {
  font-size: 20px;
  margin-top: 0;
}

.teams > div { height: 370px; }

.teams .--learn-more {
  color: var(--font-color-link);
  padding-left: 50px;
}


 .relative { position: relative; }

 .teams .wrapper {
  padding: 18px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px grey;
 }

.--small-img {
  max-width: 20px;
  object-fit: contain;
  border-radius: 50%;
  background: white;
}

.--large-img {
  max-width: 25px;
  object-fit: contain;
  background: white;
}

.google {
  position: absolute;
  top: 0px;
  left: 1%;
}
.atlassian {
  position: absolute;
  top: 14%;
  left: 33%;
}

.asana {
  position: absolute;
  top: 5%;
  right: 5%;
}

.paypal {
  position: absolute;
  left: 0%;
  bottom: 25%;
}

.google-ads {
  position: absolute;
  left: 24%;
  bottom: 12%;
}

.weave {
  position: absolute;
  bottom: 25%;
  left: 50%;
}

.calendar {
  position: absolute;
  right: 1%;
  bottom: 0%;
}

/* Key Benefits section */
/* Key Benefits section */


.key-benefits {
  text-align: center;
}

.key-benefits__grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); */
  padding: 16px;
}

.key-benefits__card {
  max-width: 100%;
  box-shadow: 0px 0px 7px grey;
  padding: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.key-benefits__card:hover {
  
  box-shadow: inset 0px -5px 1px skyblue, 0px 0px 21px grey;
}

.key-benefits__card img {
  width: 50px;
}

.key-benefits__card h4 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.key-benefits__card p {
  text-align: initial;
  color: rgba(200, 200, 200, 0.9);
}

.key-benefits__card a {
  color: var(--font-color-link);

}

.key-benefits__card span { 
  float: right;
  
}

.green {
  background: green;
  border-radius: 999px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  color: white; 
}
/* software for people */
/* software for people */

.software-for-people {
  background: linear-gradient(269deg, lightsteelblue, transparent); ;
  padding-bottom: 100px;
}

.sfp__get-started {
  text-align: center;
  margin-bottom: 0;
}


/* why font */
/* why font */

.why-front {
  background: linear-gradient(220deg, lightgrey, transparent);
  padding-bottom: 100px;
}




.wf__wrapper p {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--font-color-dark);
}

.wf__wrapper h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 40px;
  margin-top: 0;
}

.dot__wrapper {
  display: flex;
  justify-content: space-around;
}

.dot {
  height: 1px;
  width: 1px;
  padding: 2px;
  margin: 25px;
  background-color: dodgerblue;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 1px 25px lightblue;
}
.dash {
  height: 2px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid grey;
  margin-left: 5px;
  margin-right: 5px;
  
}

.items__wrapper {
  text-align: center;
}


/* executive director  christina kray */
/* executive director  christina kray */
/* executive director  christina kray */


.executive {
  margin-top: 50px;
}

/* absolute method for dots and woman positioning */
.ex__wrapper-relative {
  position: relative;
  height: 420px;
  overflow: hidden;

}

.ex__image-wrapper-dots {
  position: absolute;
  bottom: 0%;
  left: 0%;
  max-width: 40%;
  z-index: 1;
}

.ex__image-wrapper-woman {
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 90%;
  z-index: 10;
}


.ex__content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.ex__content-image-wrapper-logo {
  max-width: 100px;
}

.ex__content-wrapper p {
  color: var(--font-color-dark);
  font-size: 20px;
}

.ex__content-wrapper h4 {
  margin: 0;

}

.ex__content-wrapper h6 {
  margin: 0;
  color: var(--font-color-light);
}


/* worlds best */
/* worlds best */
/* worlds best */

.worlds-best {
  margin-top: 50px;
  background:
  linear-gradient(0deg, rgba(0,0,0,0.15) 0%, rgba(255,255,255,1) 15%);
  padding-bottom: 50px;
}

.worlds-best h3 {
  color: var(--font-color-light);
  text-align: center;
  font-size: 14px;

}

.wb__flex-wrapper {
  display: flex;
  flex-direction: column;
  
}

.wb__image-wrapper {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* pricing pricing pricing */
/* pricing pricing pricing */
/* pricing pricing pricing */
/* pricing pricing pricing */


.pricing {
  text-align: initial;
  background: rgba(10, 10, 10, 0.01);
}


.pricing h2 {
  font-size: 50px;
  margin-bottom: 0;
  padding-top: 50px;
  text-align: center;
  margin-top: 0;
}

.pricing h5 {
  color: var(--font-color-light);
  

}

.large {
  font-size: 50px;
}

.small {
  font-size: 25px;
}


.p__main-card-wrapper {
  box-shadow: 0px 0px 20px 1px lightgrey;
  padding: 10px 50px;
  margin-bottom: 50px;
  background: white;
}

.p__main-card-wrapper h4 {
  color: var(--font-color-light);
}

.p__main-card-wrapper h6 {
  color: var(--font-color-light);
  margin-top: 0;
}

.p__grid-card img {
  max-width: 50px;
}

.p__grid-card h3 {
  margin-bottom: 0;
}

.p__grid-card p {
  margin-top: 0;

}


/* Hire Us */
/* Hire Us */
/* Hire Us */
/* Hire Us */

.hire-us {
  background: url("../SaaS/banners/12174.jpg") rgba(10, 10, 255, 0.9);
  object-fit: scale-down;
  background-blend-mode: color-burn;
  padding-bottom: 50px;
}

.hu__content-wrapper {
  text-align: center;
}

.hu__content-wrapper p {
  color: #f9ffe3;
}
.hu__content-wrapper h2 {
  color: #f9ffe3;
  font-size: 50px;
  margin: 0;
  
}

.hu__content-wrapper h4 {
  color: #f9ffe3;
  margin-bottom: 0;
}

.hu__content-wrapper h5 {
font-weight: 500;
color: var(--font-color-light);
margin-top: 0;

}

.hu__content-wrapper h6 {
  color: var(--font-color-light);
  margin-top: 0;

}

.hu__content-wrapper hr {
  color: var(--font-color-light);
}




.hu__content-wrapper p { 
  font-size: 25px; 
}



.thumbnails img {
  max-width: 50px;
  border-radius: 50%;
}

/* form bit */

.form-container {
  background: #f5fffa;
  border: none;
  border-radius: 12px;
}



.form-container h2,
.form-container label {
  color: brown;
  text-align: center;
}

.fc__input-wrapper,
.fc__select-option-wrapper,
.fc__textarea-wrapper {
  border: 1px solid dodgerblue;
  border-radius: 15px;
  background: aliceblue;
  padding: 5px;
  margin: 5px 0;
}

.form-container input,
.form-container select,
.form-container textarea {
  border: none;
  background: transparent;
  color: var(--font-color-light);
}
/* responsive textarea */
.form-container textarea {
  box-sizing: border-box;
  width: 100%
}


.form-container ::placeholder {
  color: var(--font-color-light);
  
}

.fc__link-wrapper {
  padding: 25px 0px 50px 0px;
  text-align: center;
}
.fc__privacy-policy {
  border-bottom: 1px dotted var(--font-color-dark);
}

.fc__btn-wide {
  padding: 5px 100px;
}

input#submit {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;

  border-radius: var(--size-18);
  transition: ease-in-out 0.3s;

  background-color: var(--font-color-link);
  color: var(--white);

  padding: 5px 100px;


}


/* footer */
/* footer */
/* footer */

.f__logo-wrapper img {
  width: 100px;
  padding: 25px 0;
}

.f__contact-info span {
  color: var(--font-color-light)
}

.footer a {
  color: var(--font-color-light);
}

.footer a:hover {
  color: var(--font-color-link);
  text-decoration: underline;
}